.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #808080;
    height: 100vh;
    
}
.box{
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: -20px 20px 50px #888;
     height: 80vh;
     width: 80vh;
     display: flex;
     flex-direction: column;
    align-items: center ;
    background-color: rgb(77, 51, 156);
  
}
.inputField{
    height: 50px;
    width: 40vh;
    border-radius: 30px;
    border: none;
margin-top: 20px;
font-weight: 800;
font-size: 20px;
color: #464545;
}
.info{
    color: aqua;
}
